body {
  background: url(../img/body-bg.png) repeat-x center 120px;
  @media only screen and (max-width: 1024px) {
    background: none;
  }
}

.intro div {
  background-color: rgba(255, 255, 255, 0.8);
}

.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}
