/* Three column layout
 * (when using span4 class)
 */
.row {
  @media (max-width: 801px) {
    margin: 0 auto;
    margin-left: 0;
  }
  .spanColums{
    float:left;
    width:200px;
  }
  .span4 {
    @media (max-width: 1000px) {
      box-sizing: border-box;
      width: 33.333333%;
      padding: 0 30px;
      margin: 0;
    }
    @media (max-width: 801px) {
      width: 50%;
    }

    @media (max-width: 600px) {
      width: 100%;
      margin: 0 auto;
    }

    @media (max-width: 480px) {
      padding: 0 15px;
    }
  }
}