{% block choice_widget_expanded %}
    {% for child in form %}
        <div class="form-check">
            {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
    {% endfor %}
{% endblock %}
