{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block main %}
	<h1>Only 1 step to go</h1>
	<p>
		To prevent abuse, we need the list administrator ({{ pool.ownername }}) to confirm his email. We've sent a mail to {{ pool.owneremail }} with further instructions.
	</p>
	<p>
		Once confirmed your Secret Santa list will be scrambled and all users will receive your message along with the person they're in charge off buying a present.
	</p>
	<p>
		In the confirmation email the list administrator will also find a link to keep track of all users in this list who've already found out which person they'll be in charge off, making sure every Secret Santa knows his duty.
	</p>
	<p>{% if app.debug %}
		<h4>Debug mode:</h4>
		<p>
			<a href="{{ path('pool_manage', { 'listurl': pool.listurl }) }}">Manage pool page (url: {{ pool.listurl }})</a>
		</p>

		{% endif %}
{% endblock %}