{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block main %}
    <div class="box">
        <h1>403 - Forbidden! This incident will be reported.</h1>
        <p>
            <a href="http://xkcd.com/838/">
                <img src="http://imgs.xkcd.com/comics/incident.png">
            </a>
        </p>
    </div>
{% endblock %}
