{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block main %}
    <div class="box">
        <h1>500 - Internal server error! This incident will be reported.</h1>
        <p>
            <a href="https://xkcd.com/1464/">
                <img src="https://imgs.xkcd.com/comics/santa.png">
            </a>
        </p>
    </div>
{% endblock %}

