@media only screen and (max-width: 801px) {
    body {
        background: none;
        font-size: 1.3em;
    }

    .wrapper {
        background: url(../img/header-bgipad.jpg) repeat-x left top;
        background-size: 100%;
        padding: 235px 0px 0px 0px;
    }

    .container {
        padding: 0px;
    }

    #header {
        display: none;
    }

    .content-container {
        background: url(../img/content-container-ipad.jpg) no-repeat center top;
        padding: 97px 0px 0px 0px;
    }

    input, textarea, .uneditable-input {
        width: 100%;
    }

    .box, .santa-content {
        padding: 0px 30px;
    }

    #footer-santa {
        font-size: 0.9em;
        background: url(../img/footer-bgipad.jpg) no-repeat right top;
        padding: 97px 30px 35px 30px;
    }

    .footer-links {
        padding: 0;
        float: none;
    }

    .lang__selection {
        right: 25px;
    }

    .lang__selection select {
        width: 100px;
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 480px) {
    body {
        background: none;
        font-size: 1.3em;
    }

    .wrapper {
        background: url(../img/header-bgiphone.jpg) repeat-x left top;
        background-size: 100%;
        padding: 150px 0px 0px 0px;
    }

    .container {
        padding: 0px;
    }

    #header {
        display: none;
    }

    .content-container {
        background: url(../img/content-containeriphone.jpg) no-repeat center top;
        padding: 97px 0px 0px 0px;
    }

    small {
        font-size: 75%;
    }

    input, textarea, .uneditable-input {
        width: 100%;
    }

    .box, .santa-content {
        padding: 0px 15px;
    }

    .table th, .table td {
        padding: 8px 2px;
        font-size: 11px;
    }

    #footer-santa {
        font-size: 0.9em;
        background: url(../img/footer-bgipad.jpg) no-repeat right top;
        padding: 97px 30px 35px 30px;
        text-align: left;
    }

    .footer-links {
        padding: 5px 0;
        width: 100%;
        float: none;
        text-align: left;
    }

    .footer-links a {
        margin-right: 10px;
    }

    .copyright {
        width: 100%;
        float: none;
    }

    .mysanta .participant-number, .mysanta .participant-number-header {
        display: none;
    }

    .text_remove {
        display: none;
    }
}

@media only screen and (min-width: 802px) {
    .mobile__lang__selection {
        display: none;
    }

    .select-secret-santa {
        width: 20%;
    }

    .manage_btn {
        width: 32%;
        float: left;
    }

    .manage_btn_middle {
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media only screen and (max-width: 767px) {
    .form-create-party {
        padding: 0;
    }

    .text_remove_wishlist {
        display: none;
    }

    .add-btn-container .btn-group {
        display: block;
        width: 100%;
    }

    .add-btn-container .btn-group button {
        float: right;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 768px) {
    .form-create-party {
        float: left;
        width: 30%;
    }

    .form-create-party:nth-child(2) {
        margin-left: 5%;
        margin-right: 5%;
    }

    .form-create-party label {
        height: 40px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 801px) {
    .manage_btn {
        width: 49%;
        float: left;
    }

    .manage_btn:nth-child(odd) {
        margin-right: 1%;
    }

    .manage_btn:nth-child(even) {
        margin-left: 1%;
    }
}