/* Report page */

.report h2 {
    font-size: 15px;
    text-align: center;
}

.report p {
    font-size: 30px;
    text-align: center;
}

.col-md-4 input{
    height:50px;
}

.ui-icon {
    width: 16px;
    height: 16px;
}