/* Report page */
.report h2 {
    font-size: 15px;
    text-align: center;
}

.report p {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;

}

.col-md-4 input {
    height: 50px;
}
