{% extends "base.html.twig" %}
{% block main %}
    <div class="box">
        <h1>Cookie policy</h1>
        <p>This cookie policy (hereafter "Cookie Policy") governs the use of cookies and similar technologies as part of your use of our Website (the "Website") This processing is performed by secretsantaorganizer.com (as created by iO Group (2200 Herentals, Zavelheide 15, BE 0712.677.311) (hereafter ‘we’).</p>
        <p>Cookies are small text files that are filed on the hard drive of a device and that contain certain information, which sometimes includes personal data. When you use our Website and/or Services, we can  collect and process other personal information by way of cookies and similar technologies.</p>
        <p>By clicking “Accept” after you have been notified of the use of cookies and similar technologies, you acknowledge that you have carefully read this Cookie Policy and that you unreservedly agree with it. As explained in this Cookie Policy, you can change your cookie preferences at all times.</p>
        <p>We reserve the right to change, supplement or replace this Cookie Policy from time to time. Your attention will be drawn to such changes, additions to or replacements through our Website and/or Services. If you do not agree with these changes, additions or replacements, we request you to contact us through our <a href="{{ path('contact') }}" target="_blank">contact form</a>. If we have not received any notification of this within three (3) working days after you have been notified of the changes, supplements or replacements through our Website or Services, you will be presumed to have accepted any changes, supplements or replacements.</p>
        <p>Last updated on 18/11/2022</p>
        <h2>Used cookies</h2>
        <p>When you visit and/or use our Website, we place cookies or use similar technologies with which we collect and process personal data about you. Such cookies and similar technologies consist of the following/,_</p>

        <div class="box">
            <table>
                <tr>
                    <th style="min-width:50px">Name</th>
                    <th style="min-width:100px">Type</th>
                    <th >Aim</th>
                    <th style="min-width:150px">Retentionperiod</th>
                </tr>
                <tr>
                    <td>_ga</td>
                    <td>Statistical</td>
                    <td>Registering of unique ID that is used to generate statiscal data on how the visitor uses the website</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>Statistical</td>
                    <td>
                        Collects anonymous data on the user's visits to the web site, such as the number of visits, average time, spent on the new website and what pages have been loaded with the purpose of generating reports for optimising the website content.
                    </td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>IDE</td>
                    <td>Marketing</td>
                    <td>Used by Goolge Doubleclick to register the user’s action after viewing or clicking on the advertiser’s ad.</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>Btc</td>
                    <td>Third party</td>
                    <td>Beacon.walmart.com</td>
                    <td>10 years</td>
                </tr>
            </table>
        </div>

        <p>You can prevent cookies from being stored or remove cookies already stored by adjusting the settings in your browser. You find help to adjust these settings on the website of the browser that you use. Remember that disabling cookies when visiting the Website may cause some or all of the functions of the Website not to work properly.</p>
        <ul>
            <li>Internet Explorer: <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
            <li>Microsoft Edge: <a href="http://windows.microsoft.com/en-gb/windows-10/edge-privacy-faq">http://windows.microsoft.com/en-gb/windows-10/edge-privacy-faq</a></li>
            <li>Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=en">https://support.google.com/chrome/answer/95647?hl=en</a></li>
            <li>Firefox: <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a></li>
            <li>Safari: <a href="https://support.apple.com/kb/PH21411?locale=nl_BE&viewlocale=en_US">https://support.apple.com/kb/PH21411?locale=nl_BE&viewlocale=en_US</a></li>
        </ul>
        <p>If you have a complaint regarding our processing of your personal data, you can always contact us through our <a href="{{ path('contact') }}" target="_blank">contact form</a>. If you are still not satisfied with our answer, then you are at liberty to file a complaint with the competent data protection authority (depending of your country of residence).</p>
    </div>
{% endblock %}
