{% extends "base.html.twig" %}

{% block metadata %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {
      "@type": "Question",
      "name": "What is Secret Santa?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "It’s a free online Secret Santa gift exchange organizer! Organize a Secret Santa party with friends, family or even co-workers. Each year around Christmas time people all over the world exchange gifts. To keep things interesting though, you can randomly assign persons to each other to give a present to one another."
      }
    },
    {
      "@type": "Question",
      "name": "How does it work?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Create a party on the homepage. You need at least 3 participants, the first participant being the list administrator. The list administrator will receive a confirmation link by e-mail. Once validated, your Secret Santa list will be scrambled and all users will receive your message along with the name of their Secret Santa gift buddy. We demand a confirmation to prevent bots or trolls from ruining your Secret Santa party. The validation e-mail will provide a link to the Secret Santa event manager."
      }
    },
    {
      "@type": "Question",
      "name": "Can I exclude combinations?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "It is possible to excludee some combinations, for example to prevent members of the same family having to buy gifts for each other. Excludes can be configured if your party has 4 participants or more and as long as your party is not started. If these conditions are met, you will see a box called 'Exclude certain combinations' on the manage page. Clicking on this box wil open it, and make it possible to edit your excludes. These can be edited at any time, as long as your party isn't started.\n\nIt is not possible to automatically reuse last-year's Secret Santa list and prevent these combinations, as we currently don't see a way to add this without confusing people, sorry."
      }
    },
    {
      "@type": "Question",
      "name": "Can I provide a wishlist?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Participants receive a link to a webpage where they will discover their secret buddy. They can add their own wishlist and see their buddy's wishlist on that page."
      }
    },
    {
      "@type": "Question",
      "name": "Can I reuse a list?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "You can reuse last year's list to create a new list this year. Each year we will send out emails containing a link to do this. You can still edit your list before submitting it again. You can also generate an email here, containing all the parties you made during the past 2 years together with a link to reuse them."
      }
    },
    {
      "@type": "Question",
      "name": "How do I manage my party / participants?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "The confirmation e-mail sent to the list administrator contains a link to the list's management page."
      }
    },
    {
      "@type": "Question",
      "name": "Does it work with an odd number of participants?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Yes. It doesn't matter if your party consists of an even or an odd number of participants. It is no guarantee that if person A was assigned to person B that person B is also assigned to person A. Secret Santa uses a macro to make sure everybody on the list is assigned to someone else from the list. This works randomly. For example: if John, Caroline and Steve have been added to a party, John can be assigned to Steve, Steve can be assigned to Caroline and Caroline can be assigned to John."
      }
    },
    {
      "@type": "Question",
      "name": "Is there a limit on the amount of participants?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "No, there isn't. But, it's a good idea to add them using the CSV option."
      }
    },
    {
      "@type": "Question",
      "name": "I lost my activation mail / url to the party.",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "If you lost your e-mail (which contains the link to the admin page or to the party where you are participating in), fill in your e-mail address on this page and we will send you an overview of all the parties where you are participating in and/or the parties you have created."
      }
    },
    {
      "@type": "Question",
      "name": "Can I add or remove people?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "You can add or remove people after creating an event. On the admin page you will find a delete button and a form to add new people. There is only one catch: you can't do this if the admin excluded combinations before submitting the event. Allowing this would mess up the system and people might still be assigned to their excluded buddy, this made us to decide to prevent adding people if excluded combinations are present."
      }
    },
    {
      "@type": "Question",
      "name": "Can I resend an email?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "If a participant didn't receive the e-mail for their buddy, the list owner can resend the e-mail for that participant from the management page. You can also change someone's e-mail address from the same page and resend the e-mail.\n\nIf you didn't receive the activation e-mail, check your spam folder. You should receive this email within a few minutes. If you still didn't receive the activation e-mail, you will have to start all over again by creating a new list."
      }
    },
    {
      "@type": "Question",
      "name": "Can I look into all combinations / wishlists?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "You can optionally see the combinations and wishlists on the management page. There are buttons for that, you won't see this by default. If you want to share this information with all the participants you will have to share the URL yourself."
      }
    },
    {
      "@type": "Question",
      "name": "Can I delete my list?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Sure you can. Just go to your list management page and use the delete option. All your list data will be permanently removed from our system."
      }
    },
    {
      "@type": "Question",
      "name": "Who are you?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "We are a bunch of developers, designers, frontenders, SEO's and marketing people. Secret Santa is one of our side projects. We are sponsored by our employer Intracto digital agency. Our goal is to build a simple, yet very useful Secret Santa organiser. We might also use this for experiments. But the main goal is that we want people to use it, more is better ;-)"
      }
    },
    {
      "@type": "Question",
      "name": "How do you handle my data?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Short answer, we are absolutely not interested in your personal data. We use it for nothing whatsoever. Read our privacy policy for an extended answer. Also, at any point in time, you can just delete your Secret Santa account from the admin page."
      }
    },
    {
      "@type": "Question",
      "name": "Can you add feature X?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "You have an awesome idea for a feature? We are all volunteers, so if you can't code it yourself you will have to wait until someone that can code wants the same feature. Please create an issue on GitHub that describes your feature or change. For those who can code, we prefer transpiration to inspiration. In other words, we accept your PRs."
      }
    },
    {
      "@type": "Question",
      "name": "Open source",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Every bit of this website is open sourced on GitHub. The project is available under a very permissive ISC license. You are welcome to fork the project and, for example, create your own \"Secret Panda gift exchange\". Or, contribute to this project by opening pull requests (PRs). If you want a change or a whole new feature, just add it."
      }
    },
    {
      "@type": "Question",
      "name": "What about the ads?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "We have Google ads here and there to cover some of our expenses. Things like hosting, domain names etc. cost money. We basically do everything for free ourselves and all money we collect goes back to the project. We might use it to buy pizza and drinks for one of our hackdays. Or we might pay professional translators to add more languages to our Secret Santa Organizer. Or it could be something else. By the way, we are still looking for Russian, Indian, Japanese, ... translations. If you can help us with this (for free), please contact us."
      }
    }
  ]
}
</script>
{% endblock %}

{% block main %}
    <div class="box">
        <h2>{{ 'static-faq.title'|trans }}</h2>
        {{ 'static-faq.body'|trans(
            {
                '%requestForgotLink%': path('forgot_url'),
                '%requestReuseLink%': path('request_reuse_url'),
                '%contactLink%': path('contact'),
            }
        )|raw }}

        <p><a href="{{ url('homepage') }}" class="btn btn-large btn-primary">{{ 'static-faq.create_new_list'|trans }}</a>
        </p>
    </div>
{% endblock %}
