web/bundles/
app/bootstrap.php.cache
app/config/parameters.yml
app/config/client_secrets.json
app/cache/*
app/logs/*
web/compiled/*
web/js/*
web/css/*
bin/*
vendor
composer.phar
dumps
.idea
.vagrant
.travis/build/behat-*
yarn.lock
