/.web-server-pid
app/config/client_secrets.json
/app/config/parameters.yml
/web/build/
/phpunit.xml
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
web/compiled/*
web/js/*
web/css/*
/vendor/
composer.phar
dumps
.vagrant
.travis/build/behat-*
.php_cs.cache
/node_modules/
