default:
    formatters:
        pretty:
            verbose: true
            paths: false
            snippets: false

    suites:
        secretsanta:
            paths:    [ "%paths.base%/features" ]
            contexts:
                   - Behat\MinkExtension\Context\MinkContext
                   - App\Tests\Behat\FeatureContext
                   - App\Tests\Behat\EmailContext
                   - App\Tests\Behat\Bootstrap\PartyContext
                   - App\Tests\Behat\Bootstrap\LanguageContext
                   - App\Tests\Behat\Bootstrap\CommonPartyManagementContext
                   - App\Tests\Behat\Bootstrap\ParticipantContext
                   - App\Tests\Behat\Bootstrap\UnstartedPartyManagementContext
                   - App\Tests\Behat\Bootstrap\StartedPartyManagementContext
                   - App\Tests\Behat\Bootstrap\ReportContext
                   - App\Tests\Behat\Bootstrap\ResendPartyInfoContext
                   - App\Tests\Behat\Bootstrap\ReusePartyLinkContext
                   - App\Tests\Behat\Bootstrap\UnsubscribeContext

    extensions:
        Behat\MinkExtension:
            base_url: 'https://127.0.0.1:8000'
            default_session: symfony
            javascript_session: chrome
            sessions:
                symfony:
                    symfony: ~
                chrome:
                    selenium2:
                        browser: chrome
                        capabilities:
                            browserName: chrome
                            browser: chrome
                            version: ''
                            chrome:
                                switches:
                                    - 'start-fullscreen'
                                    - 'start-maximized'
                                    - 'no-sandbox'
                                    - 'headless'
                                    - 'disable-gpu'
                                    - 'ignore-certificate-errors'
                                    - 'window-size=1920,1080'
                firefox:
                    selenium2:
                        browser: firefox
            show_auto: false

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                path: src/Kernel.php
                class: App\Kernel
                environment: test
                debug: false

        Lakion\Behat\MinkDebugExtension:
            directory: .travis/build
            clean_start: false
            screenshot: false
