parameters:
    ignoreErrors:
        - '#Call to an undefined method Doctrine\\DBAL\\Driver\\Connection::#'
        - '#Call to an undefined method Doctrine\\Common\\Persistence\\ObjectRepository::#'  
        - '#Access to an undefined property Symfony\\Component\\Validator\\Constraint::#'
        - '#Call to an undefined method object::#'
    excludes_analyse:
        - %currentWorkingDirectory%/src/Intracto/Behat/Features/Context/*

