<?php

$finder = PhpCsFixer\Finder::create()
    ->in('src/Intracto')
    ->exclude('web');

return PhpCsFixer\Config::create()
    ->setRules(
        [
            '@Symfony' => true,
        ]
    )
    ->setFinder($finder);
