{% if app.request.locale == 'en' %}
    <div class="row three-column">
        <div class="col-md-4">
            <h2>What makes a Secret Santa generator so much fun?</h2>
            <p>
                Seriously, is this a rhetorical question? Organizing a <b>Secret Santa party</b> guarantees you
                a fun night filled with surprises - I think we can agree on that.
            </p>
            <p>
                Thanks to a special <b>Secret Santa generator</b> you won’t have to deal with all the
                pre-organizing yourself. You just fill in the blanks and the Secret Santa generator does all
                the work!
            </p>
            <p>
                The only thing you have to do is sit back and relax (oh, and buy some snacks and drinks for your
                Secret Santa party).
            </p>
        </div>
        <div class="col-md-4">
            <h2>Why go for Secret Santa online?</h2>
            <p>
                The best thing about <b>Secret Santa online</b> is that you don’t have to physically plan
                everything with all the participants. Assigning names, making and receiving wish lists, and so
                on: you can arrange everything with just an internet connection and a connected device.
            </p>
            <p>
                This way, Secret Santa online makes all the organizing stuff way more easy. That means more time
                for you and your friends to enjoy the holiday season and look forward to the actual party!
            </p>
        </div>
        <div class="col-md-4">
            <h2>Secret Santa all over the world</h2>
            <p>
                Secret Santa, Kris Kringle, Kris Kindle, Kris Kringel, White Elephant, Yankee Swap, Yankee Doodle,
                Wichteln, or even lootjes trekken, namen trekken or Monito Monita: all over the world people use
                different names for the same thing. So let us take you on a quick trip around the world! No worries,
                you’ll be home in time for your <b>Secret Santa party</b>.
            </p>
            <ul>
                <li><b>Secret Santa</b> is commonly used all over the United States and the United Kingdom.
                <li>In Ireland however, the ritual is called <b>Kris Kindle</b> or <b>Kris Kringel</b>, derived
                    from "<b>Christkindl</b>" - the original name of the Austrian gift bringer.
                <li>When visiting continental Europe we find that Germans prefer the verb <b>Wichteln</b>,
                    whilst Belgium and Holland speak of <b>lootjes trekken</b> or <b>namen trekken</b>.
                <li>We continue our trip to Canada and Australia. This is where <b>Secret Santa</b> and
                    <b>Kris Kringle</b> (again, derived from "<b>Christkindl</b>") live.
                <li>Finally, our holiday ends in the Philippines. In this country we find <b>Monito Monita</b>;
                    a unique gift-exchanging tradition.
            </ul>
            <p>
                Conclusion? Randomly giving gifts to people is fun! So wait no longer and start off with your
                own <b>Secret Santa generator online</b>.
            </p>
        </div>
    </div>
{% endif %}
