{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block main %}
<div class="box">
    <h1>{{ 'pool-deleted.title'|trans }}</h1>
    {{ 'pool-deleted.body'|trans|raw }}
    <div>
        <a class="btn btn-primary" href="{{ path('homepage') }}#mysanta">{{ 'pool-deleted.create_new_list'|trans }}</a>
    </div>
{% endblock %}
