 <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ 'emails-base_email.title'|trans }}</title>
    </head>
    <body>
        <style type="text/css">
            body{
                -webkit-text-size-adjust: none;
            }
        </style>

        <!--content-->
        {% block main %}{% endblock %}

        <!--footer-->
        <table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td width="331" height="21">
                    <span style="font-family: Arial, Helvetica, sans-serif;color:#6e7070;line-height: 21px;background-color:#ffffff;font-size:13px;">{{ 'emails-base_email.footer'|trans }}
                        <br/>{{ 'emails-base_email.created_by'|trans }}</span>
                    <a href="http://www.intracto.com" target="_blank" rel="noopener noreferrer" style="color:#b3141c;font-family: Arial, Helvetica, sans-serif; line-height: 21px; background-color: #ffffff;font-size:13px;text-decoration: none">Intracto digital agency</a>
                </td>
            </tr>
        </table>
    </body>
</html>
