{% extends "IntractoSecretSantaBundle:Emails:baseEmail.html.twig" %}
{% block main %}
    <table width="640" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td width="37" align="left">
            </td>
            <td width="566">
                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color:#333333; line-height: 25px;">
                    {{ message|nl2br }}
                </span>
                <br><b><a href="https://www.amazon.com/gp/most-wished-for/ref=zg_mw_unv_mov_0_mov_1&tag=secretsanta0e-20" target="_blank" rel="noopener noreferrer">{{ 'emails-participant.buy_from_amazon'|trans }}</a></b>
                <br /> <br /><br />
                <a href="{{ url('entry_view', { 'url': entry.url }) }}" target="_blank" rel="noopener noreferrer" class="button">
                    {{ 'emails-participant.find_out'|trans }}
                </a>
            </td>
            <td width="37" align="right">
            </td>
        </tr>

    </table>
{% endblock %}
