parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     secretsanta
    database_user:     secretsanta
    database_password: vagrant

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    mandrill_transport:  smtp
    mandrill_host:       localhost
    mandrill_port:       25
    mandrill_user:       ~
    mandrill_password:   ~

    locale:            en
    supported_locales:
        - en
        - es
        - fr
        - de
        - nl
        - pl
        - pt
        - ru
        - zh-Hans
        - zh-Hant
        - no
    locale_names:
        en: English
        nl: Nederlands
        fr: Français
        pt: Português
        zh-Hans: 简体中文
        zh-Hant: 繁體中文
        pl: Polskie
        ru: Русский
        es: Español
        de: Deutsch
        no: Norsk

    secret:            ThisTokenIsNotSoSecretChangeIt
    adwords_password:  secret
    noreply_email:     no-reply@dev.secretsantaorganizer.com
    base_url:          dev.secretsantaorganizer.com
    ga_view_id:        ga:00000000
    router.request_context.host: '%base_url%'

    # Get the database at http://dev.maxmind.com/geoip/geoip2/geolite2/
    geo_ip_db_path: /usr/local/share/GeoIP/GeoLite2-City.mmdb
