parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     secretsanta
    database_user:     vagrant
    database_password: vagrant

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    supported_locales: [en, nl, fr, pt, ch]
    locale_names:
        en: English
        nl: Nederlands
        fr: Francais
        pt: Português
        ch: 正体字/繁体字

    secret:            ThisTokenIsNotSoSecretChangeIt
    ad_client:         ca-pub-8492783089085834
    adwords_password:  secret
    ga_tracking:       UA-00000000-0
    ga_email:          you@domain.tld
    ga_password:       secret
    ga_profile_id:     00000000
    admin_email:       santa@dev.secretsantaorganizer.com
    base_url:          dev.secretsantaorganizer.com
    export_user:       export
    export_password:   export
