parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     secretsanta
    database_user:     vagrant
    database_password: vagrant

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    supported_locales:
        - en
        - es
        - fr
        - de
        - nl
        - pl
        - pt
        - ru
        - zh-Hans
        - zh-Hant
    locale_names:
        en: English
        nl: Nederlands
        fr: Français
        pt: Português
        zh-Hans: 简体中文
        zh-Hant: 繁體中文
        pl: Polskie
        ru: Русский
        es: Español
        de: Deutsch

    secret:            ThisTokenIsNotSoSecretChangeIt
    ad_client:         ca-pub-8492783089085834
    adwords_password:  secret
    ga_tracking:       UA-00000000-0
    ga_email:          you@domain.tld
    ga_password:       secret
    ga_profile_id:     00000000
    admin_email:       santa@dev.secretsantaorganizer.com
    base_url:          dev.secretsantaorganizer.com
    export_user:       export
    export_password:   export
