/* Import abstractions (mixins, reusable classes) & variables */
@import "init";

/* Import base styles */
@import "base/normalize";
//@import "base/typography";
//@import "base/boxmodel";

/* Import layout styles */
@import "layouts/l-general";

/* Import components styles */
@import "components/clearfix";
@import "components/tabs";
@import "components/messages";
@import "components/responsive-images";
@import "components/formelements";
@import "components/links";
@import "components/header";

@import "components/reindeer";
@import "components/santa";

.header__santa {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInTopScale cubic-bezier(0.165, 0.84, 0.44, 1) 650ms 500ms forwards;
    
}
