$blue:          #20a6f7;
$red:           #f4142e;
$green:         #00b900;

$white:         #fff;

$base:          #181818;
$heading:       #33373a;

$border-color:  #dedede;
$input-color:   black;

$link:          $blue;
$link-hover:    lighten($link, 10%);

$error:         $red;
$succes:        $green;