/* Report page */
.report h1 {
    font-size: 20px;
    height: 35px;
}

.report h2 {
    font-size: 11px;
}

.report p {
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 1px;

}

.col-md-4 input {
    height: 50px;
}

.report_inside {
    background-color: #f7f7f7;
    padding: 10px;
    margin: 15px 0;
}

.report_inside h3 {
    margin-top: 0;
    margin-bottom: 5px;
    height: 22px;
    font-weight: bold;
    font-size: 20px;
}

.report_inside table tr td {
    padding: 2px 0;
}

.report_inside table tr td:not(:first-child) {
    padding-left: 10px;
}

.report_inside table tr td:nth-child(2) {
    font-weight: bold;
}

.positive {
    color: green;
}

.negative {
    color: red;
}