/* Open Sans regular (variable). */
@font-face {
    font-family: "Open Sans";
    font-weight: 300 800;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
    font-display: swap;
    src:
      url("../fonts/opensans.woff2") format("woff2") tech("variations"), /* Futureproof. */
      url("../fonts/opensans.woff2") format("woff2-variations"); /* fallback. */
}

/* Open Sans italic (variable). */
@font-face {
    font-family: "Open Sans";
    font-weight: 300 800;
    font-style: italic;
    font-stretch: normal;
    font-variant: normal;
    font-display: swap;
    src:
      url("../fonts/opensans-italic.woff2") format("woff2") tech("variations"), /* Futureproof. */
      url("../fonts/opensans-italic.woff2") format("woff2-variations"); /* fallback. */
}

@font-face {
    font-family: 'straitregular';
    src: url('../fonts/strait-regular-webfont.eot');
    src: url('../fonts/strait-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/strait-regular-webfont.woff') format('woff'),
    url('../fonts/strait-regular-webfont.ttf') format('truetype'),
    url('../fonts/strait-regular-webfont.svg#straitregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** liststyle **/
.steps ul.liststyle1 {
    margin: 0px 0px 16px 0px;
    padding: 0px;
    border-bottom: 1px solid #e8e8e8;
}

.steps ul.liststyle1 li {
    margin: 0px 0px 12px 0px;
    padding: 0px;
    list-style: none;
    line-height: 29px;
}

.steps ul.liststyle1 li .icon-steps {
    display: inline-block;
    height: 29px;
    line-height: 29px;
    width: 29px;
    text-align: center;
    margin-right: 10px;
    float: left;
    color: #ffffff;
    background: url(../img/bulletstyle1.png) no-repeat left top;
}

/** **/

html {
}

body {
    font-family: "Open Sans" ,system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #333333;
}

.text-center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'straitregular',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

#header h2, .steps h2, .party-info h2 {
    margin: 0 0 20px 0;
}

.intro h2 {
    margin: 0 0 20px 0;
}

p {
    margin: 0px 0px 14px 0px;
}

.accent {
    color: #659d98;
}

a {
    color: #b3141c;
    text-decoration: underline;
}

a.btn {
    text-decoration: none;
}

.add-btn-container {
    display: block;
    overflow: auto;
    margin-bottom: 10px;
    float: right;
}

.add-btn-create {
    font-size: 0.9em;
    padding: 5px 13px;
    font-weight: 700;
    float: left;
    margin-left: 10px;
}

.add-btn-create [class^="icon-"] {
    margin-top: 1px;
}

table.participants {
}

table.participants button {
    margin-bottom: 3px;
}

.wrapper .btn-primary, .wrapper .btn-primary:active, .wrapper .btn-primary:visited, .wrapper .btn-primary.active {
    background-color: #A9181F;
    background-image: linear-gradient(to bottom, #BE1018, #AA181F);
    background-image: -moz-linear-gradient(top, #BE1018, #AA181F);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BE1018), to(#AA181F));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #6f070c;
}

#wrapper .btn-primary:hover {
    background: #A9181F;
}

.wrapper .btn-warning, .wrapper .btn-warning:active, .wrapper .btn-warning:visited, .wrapper .btn-warning.active {
    background-color: #d78512;
    background-image: linear-gradient(to bottom, #d78512, #ec971f);
    background-image: -moz-linear-gradient(top, #d78512, #ec971f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d78512), to(#ec971f));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #985e0d;
}

#wrapper .btn-warning:hover {
    background: #d78512;
}

.wrapper .btn-info, .wrapper .btn-info:active, .wrapper .btn-info:visited, .wrapper .btn-info.active {
    background-color: #279bbd;
    background-image: linear-gradient(to bottom, #279bbd, #31b0d5);
    background-image: -moz-linear-gradient(top, #279bbd, #31b0d5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#279bbd), to(#31b0d5));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #1b6d85;
}

#wrapper .btn-info:hover {
    background: #279bbd;
}

.wrapper .btn-success, .wrapper .btn-success:active, .wrapper .btn-success:visited, .wrapper .btn-success.active {
    background-color: #3a853a;
    background-image: linear-gradient(to bottom, #3a853a, #449d44);
    background-image: -moz-linear-gradient(top, #3a853a, #449d44);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3a853a), to(#449d44));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #255625;
}

#wrapper .btn-success:hover {
    background: #3a853a;
}

.wrapper .btn-danger, .wrapper .btn-danger:active, .wrapper .btn-danger:visited, .wrapper .btn-danger.active {
    background-color: #ad2926;
    background-image: linear-gradient(to bottom, #ad2926, #c9302c);
    background-image: -moz-linear-gradient(top, #ad2926, #c9302c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ad2926), to(#c9302c));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #6f070c;
}

#wrapper .btn-danger:hover {
    background: #ad2926;
}

textarea {
    color: #333333;
}

input.span12, textarea.span12, .uneditable-input.span12 {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
}

.table {
    margin-bottom: 35px;
}

/**  **/

.wrapper {
    /*background: url(../img/header-bg.jpg) no-repeat center top;*/
}

.container {
    max-width: 940px;
    padding: 0 30px;
    width: auto;
    position: relative;
}

#header {
    height: 190px;
}

.steps {
    padding: 25px 20px 20px 20px;
    border: 1px solid #e4e2e2;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.steps ul.liststyle1 li {
    margin-bottom: 0;
}

.content-container {
    background: url(../img/content-container.png) no-repeat center top;
    padding: 200px 0 0 0;
}

.box {
    margin: 0px 0px 20px 0px;
}

#footer-santa {
    background: url(../img/footer-bg.png) no-repeat right top;
    padding-top: 65px;
    padding-bottom: 35px;
    text-align: center;
    font-size: 1.2em;
    color: #6E6E6E;
}

@media (min-width: 801px) {
    #footer-santa{
        padding-left: 170px;
        padding-right: 170px;
    }
}

.copyright {
    float: left;
}

.footer-links {
    float: right;
    padding-right: 175px;
}

.description {
    font-size: 0.8em;
    margin-bottom: 3px;
    color: #6E6E6E;
}

.yoursecretsant {
    color: #6E7070;
    margin: 5px 0 15px;
}

.yourgift {
    background: url("../img/yourgift.png") no-repeat scroll left top transparent;
    color: #C51426;
    display: inline-block;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 41px;
    margin: 0 15px 0 0;
    padding: 22px 10px 10px 87px;
    min-width: 197px;
}

.participant .viewed {
    color: #090;
}

.participant .not_viewed {
    color: #900;
}

@media screen and (max-width: 1024px) {
    a.github {
        display: none;
    }
}

.btn-create-event {
    margin-top: 30px;
}

.bottom-spacer {
    margin-bottom: 45px;
}

#header {
    cursor: pointer;
}

.toplabels .error {
    color: #CF706C;
}

.toplabels .error input, .error td.error input {
    background: url('../img/error.png') no-repeat scroll right center #fff;
}

.wishlistitem-description {
    width: 100%;
}

.select2-container {
    width: 100%;
}

.select2-container-multi .select2-choices {
    background-color: #FFF;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 5px 5px 6px 18px;
}

ul.form-errors {
    color: #A12C2C;
}

/**
 * Language switch in header
 */
.lang__selection {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lang__selection select {
    background-color: #99C2C1;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-weight: normal;
    padding: 4px 18px;
    padding-right: 30px;
    font-family: 'straitregular',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 90%;
}

.lang__selection:hover select {
    cursor: pointer;
    color: #99C2C1;
    background-color: #fff;

    -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

/**
 * Language switch on mobile
 */
.select-secret-santa {
    display: block;
    width: 100%;
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
}

.mobile__lang__selection {
    padding: 10px 0 10px 0;
}

.select-secret-santa select {
    background-color: #fff;
    border: 2px solid #99C2C1;
    border-radius: 20px;
    color: #99C2C1;
    font-weight: normal;
    padding: 4px 18px;
    font-family: 'straitregular',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 100%;
    font-size: 14px;
}

.lang__selection:hover select {
    cursor: pointer;
    color: #fff;
    background-color: #99C2C1;

    -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.ui-sortable-helper {
    display: table;
}

.row-import-participants {
    display: none;
}

.add-import-participant-data {
    width: 100%;
    height: 100px;
}

.add-participant-link {
    text-decoration: none;
}

.add-participant-link:hover {
    text-decoration: none;
}

.manage_btn {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.manage_btn_link {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.btn_confirmation_pop_up {
    display: block;
    max-width: 100%;
    float: left;
    white-space: normal;
    margin-bottom: 10px;
    margin-right: 10px;
}

.input_edit_email {
    margin-bottom: 5px;
}

.link_remove_participant {
    padding: 0;
    background: none;
    color: #b3141c;
}

.manage-page-form .form-group {
    margin-top: 5px;
}

.party-info {
    padding: 20px 20px 20px 20px;
    border: 1px solid #e4e2e2;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.party-info ul.liststyle1 {
    margin: 0 0 16px 0;
    padding: 0;
}

.party-info ul.liststyle1 li {
    margin: 0 0 12px 0;
    padding: 0;
    list-style: none;
}

.party-info ul.liststyle1 li:last-child {
    margin: 0;
}

.title-row {
    margin-bottom: 10px;
}

.title-row h1 {
    margin-top: 150px;
}

.participant-title-row {
    margin-bottom: 20px;
}

.participant-title-row .party-info {
    padding: 25px 20px 20px 20px;
    height: auto;
    border: 1px solid #e4e2e2;
    background-color: #f6f6f6;
    border-radius: 5px;
}

.participant-title-row .party-info ul.liststyle1 {
    margin: 0;
}
