<tr style='display: none' class="entry not-owner">
    <td class="entry-number">__entrycount__</td>
    <td>{{ form_widget(entry.name, {'attr': {'class': 'entry-name form-control error'} }) }}</td>
    <td>{{ form_widget(entry.email, {'attr': {'class': 'entry-mail form-control error'} }) }}</td>
    <td style="text-align: right;">
        <button type="button" class="btn btn-mini btn-danger remove-entry">
            <i class="fa fa-times-circle fa-inverse"></i> <i class="text_remove">{{ 'helper_prototype_entry.btn.remove_person'|trans }}</i>
    </td>
</tr>
