{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block main %}
<div class="box">
	<h1>Your Secret Santa</h1>
  <p>
    Hi {{ entry.name }},
  </p>
  <p>
    Your randomly assigned Secret Santa gift buddy to give a present to is:
  </p>
  <div class="yoursecretsant">
    <span class="yourgift">{{ entry.entry.name }}</span> {{ entry.entry.email }}
  </div>
</div>
{% endblock %}
