{% extends 'IntractoSecretSantaBundle::base.html.twig' %}

{% block main %}
    <div class="box">
        <h1>{{ 'forgot_manage_link.title'|trans }}</h1>

        <p>{{ 'forgot_manage_link.description'|trans }}</p>
        {{ form(form) }}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

