<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>Dump entries</title>
</head>
<body>
<ul>
    {% for entry in entries %}
        <li><a href="{{ url('participant_view', { 'url': entry.url }) }}">{{ url('participant_view', { 'url': entry.url }) }}</a></li>
    {% endfor %}
</ul>
</body>
</html>
