{% extends "IntractoSecretSantaBundle:Entry:show.html.twig" %}

{% block main %}
    <div class="alert alert-danger" role="alert">
        {{ 'entry_expired.message.expired' | trans | raw }}
    </div>
    <div class="box">
        <div class="row text-center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <div class="span4 visible-xs-inline-block">
                <ins class="adsbygoogle"
                     style="width:320px;height:100px"
                     data-ad-client="ca-pub-8492783089085834"
                     data-ad-slot="3884561707"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="span4 visible-sm-inline-block">
                <ins class="adsbygoogle"
                     style="width:468px;height:60px"
                     data-ad-client="ca-pub-8492783089085834"
                     data-ad-slot="8314761303"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="span4 visible-md-inline-block visible-lg-inline-block">
                <ins class="adsbygoogle"
                     style="width:728px;height:90px"
                     data-ad-client="ca-pub-8492783089085834"
                     data-ad-slot="9791494503"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
{% endblock %}

