
{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block main %}
  <div class="box">
    <h1>Privacy Policy</h1>
    <p>TODO</p>
    <p><a href="{{ url('pool_create') }}" class="btn btn-large btn-primary">Start creating your list</a></p>
  </div>
{% endblock %}

