/**
 * @_clearfix.scss
 * Clearfix to automatically clear child elements
 */
.clearfix {
  display: block;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}


