/**
 * @_header.scss
 * Header with animated background
 */
.header {
  background: #97c1bd;
  position: relative;
  min-height: 315px;
  @extend .clearfix;
  .container {
    min-height: 315px;
    z-index: 5;
  }
}

#header {
  height: 373px;
  margin-bottom: 30px;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

.header__snow {
  background: none;
  font-family: Androgyne;
  background-image: url('../img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
  .cssanimations &{
    animation: snow 10s linear infinite;
  }
}

.header__snow-container {
  .cssanimations &{
    opacity: 0;
    animation: fadeIn ease 350ms 1700ms forwards;
  }
}

.header__left {
  width: 70%;
  float: left;
  display: inline-block;
}

.header__right {
  width: 30%;
  float: right;
  display: inline-block;
}

.header__logo {
  padding: 40px 0;
  padding-bottom: 24px;
}

a.btn-started {
  display: inline-block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  color: #ffffff;
  background: #b3141c;
  border: 1px solid #901017;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #6e070c;
  color: white;
  text-align: center;
  font-size: 1.2em;
  text-decoration: none;
  &:hover {
    background: #901017;
  }
}

.steps {
  .cssanimations &{
    opacity: 0;
    transform: translateY(5px);
    animation: fadeInTopScale cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms 1100ms forwards;
  }
}

.header__santa {
  .cssanimations &{
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInTopScale cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms 1500ms forwards;
    transform-origin: 160px bottom;
  }
}
