#santa {
  width: 140px;
  height: 223px;
  float: left;
  margin-top: 40px;
  margin-left: 10px;
  #capuche {
    transition: transform cubic-bezier(0.47, 0, 0.745, 0.715) 350ms;
    will-change: transform;
    .st15 {
      will-change: transform;
      transition: transform ease 320ms;
      transform-origin: center left;
    }
    &:hover {
      transform: translateY(-7px);
      //transform-origin: center 100px;
      .st15 {
        transform: scale(1.1);
      }
    }
  }
}

#hat {
  animation-name: bellring;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: -1.5s;
  animation-direction: alternate;
  transform-origin: 50%;
}


@keyframes bellring {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}
