#santa {
  width: 140px;
  float: left;
  margin-top: 40px;
  margin-left: 10px;
}

#hat {
  animation-name: bellring;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: -1.5s;
  animation-direction: alternate;
  transform-origin: 50%;
}


@keyframes bellring {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}