{% extends "Participant/show/base.html.twig" %}

{% block main %}
    <div class="alert alert-danger" role="alert">
        {{ 'participant_show_expired.message.expired' | trans | raw }}
    </div>
    <div class="box">
        {% if app.environment not in ['test'] %}
            <div class="row text-center">
                <script type="text/javascript">
                    atOptions = {
                        'key' : '4e46a9746a54e456c0123bd2f828c7c5',
                        'format' : 'iframe',
                        'height' : 250,
                        'width' : 300,
                        'params' : {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="//www.highcpmcreativeformat.com/4e46a9746a54e456c0123bd2f828c7c5/invoke.js"></scr' + 'ipt>');
                </script>
                <script type="text/javascript">
                    atOptions = {
                        'key' : '1cb00a92525fd6d7336ec732f4b8ad5c',
                        'format' : 'iframe',
                        'height' : 90,
                        'width' : 728,
                        'params' : {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="//www.highcpmcreativeformat.com/1cb00a92525fd6d7336ec732f4b8ad5c/invoke.js"></scr' + 'ipt>');
                </script>
<!--
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <div class="span4 visible-xs-inline-block">
                    <ins class="adsbygoogle"
                         style="width:320px;height:100px"
                         data-ad-client="ca-pub-9463520136816719"
                         data-ad-slot="7244544166"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="span4 visible-sm-inline-block">
                    <ins class="adsbygoogle"
                         style="width:468px;height:60px"
                         data-ad-client="ca-pub-9463520136816719"
                         data-ad-slot="7244544166"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="span4 visible-md-inline-block visible-lg-inline-block">
                    <ins class="adsbygoogle"
                         style="width:728px;height:90px"
                         data-ad-client="ca-pub-9463520136816719"
                         data-ad-slot="7244544166"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
-->
            </div>
        {% endif %}
    </div>
{% endblock %}

