<p>
	Hi {{ pool.getOwnerName }}
</p>
<p>
	Please click on the link below to confirm your Secret Santa mailing list.<br />
	You will also be able to keep track of all your users consulting their secret santa target.
</p>
<p>
	<a href="{{ pool.listurl }}">{{ pool.listurl }}</a>
</p>

<p>Created by <a href="http://www.intracto.be">Intracto</a></p>