<p>
	{{ message }}
</p>

<p>
    Find out your randomly assigned person to give a gift to, on this url:<br/>
    <a href="{{ url('entry_view', { 'url': entry.url }) }}">{{ url('entry_view', { 'url': entry.url }) }}</a>
</p>

<p>Created by <a href="http://www.intracto.be">Intracto</a></p>