<p>
	{{ message }}
</p>

<p>
    Find out your randomly assigned person to give a gift on this url:<br/>
    <a href="{{ entry.url }}">{{ entry.url }}</a>
</p>

<p>Created by <a href="http://www.intracto.be">Intracto</a></p>