{% extends "IntractoSecretSantaBundle::base.html.twig" %}
{% block main %}
    <div class="box">
        <h2>{{ 'static.faq.title'|trans }}</h2>
        {{ 'static.faq.body'|trans|raw }}

        <p><a href="{{ url('homepage') }}" class="btn btn-large btn-primary">{{ 'btn.create_new_list'|trans }}</a>
        </p>
    </div>
{% endblock %}
